// *************************************
//
//   Default Layout
//   -> 預設選票頁面排版
//
// *************************************

$main-padding: 12px;
$main-padding-left: $main-padding;
$main-padding-right: $main-padding;

body {
	height: 100%;

	> * {
		height: 100%;
	}
}

.header {
	position: relative;
	z-index: 100;
	width: 100%;
	width: 100vw;
	height: 20%;
	height: 20vh;
}

.main {
	position: relative;
	z-index: 1;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	margin-top: -20%;
	margin-top: -20vh;
	padding-top: 20%;
	padding-top: 20vh;
	padding-right: $main-padding;
	padding-left: $main-padding;
}

// -------------------------------------
//   選票的載入動畫
// -------------------------------------

.vote {
	@for $i from 1 through 100 {
		&:nth-of-type(#{$i}) {
			@include transition-delay(#{$i/12}s);
		}
	}

	@include transition-property(all);
	@include transition-duration(1s);

	@include opacity(0);
	@include translateY(20px);

	body.ready & {
		@include opacity(1);
		@include translateY(0);
		@include transition-timing-function(ease-out);
	}

	body.sending & {
		@include opacity(0);
		@include translateY(-300px);
		@include transition-duration(1s);
		@include transition-timing-function(ease-in);
	}

	body.skipping & {
		@include opacity(0);
		@include translateY(300px);
		@include transition-duration(1s);
		@include transition-timing-function(ease-in);
	}
}
