// *************************************
//
//   Candidate
//   -> 候選人欄
//
// *************************************

.candidate {
	position: relative;
	width: 300px;
	text-align: center;
	overflow: hidden;

	$id-height: 36px;
	$act-height: 64px;
	$name-height: 68px;

	$candidate-border-color: #555 !default;

	padding-right: 1px;
	padding-right: 1px;

	&.big {
		width: 500px;
	}

	> *,
	> * > * {
		position: relative;
		z-index: 10;
	}

	// 所有欄位基本佈局

	> * {
		margin-right: auto;
		margin-left: auto;
		border: 1px solid $candidate-border-color;
		border-bottom: 0;
	}

	> *:last-child {
		border: 1px solid $candidate-border-color;
	}

	// 編號欄位

	.id {
		height: $id-height;
		line-height: $id-height;
	}

	// 相片欄位

	.pic {
		display: inline-block;
		position: relative;
		width: 100%;
		height: calc(80vh - #{$id-height} - #{$act-height} - #{$name-height} - 60px);
		min-height: 100px;
		max-height: 400px;

		.img {
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: rgba(#eee, .5);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.img:first-child {
			right: 50%;
			left: 0;
			border-right: 1px solid rgba(0,0,0, .1);
		}

		.img:last-child {
			right: 0;
			left: 50%;
		}

		.img:only-child {
			right: 0;
			left: 0;
			border-right: 0;
		}
	}

	// 姓名欄

	.name {
		height: $name-height;
		margin-top: -5px;
		font-size: 1.7em;
		font-weight: 800;
		line-height: $name-height;
		@include text-shadow(0 0 10px rgba(255,255,255, .9));

		.many & {
			height: $name-height * .8;
			line-height: $name-height * .8;
		}

		> *:first-child {
			position: absolute;
			right: 50%;
			left: 0;
			border-right: 1px solid rgba(0,0,0, .1);
		}

		> *:last-child {
			position: absolute;
			right: 0;
			left: 50%;
		}
	}

	// 普通圈選欄

	.elect {
		z-index: 8;
		height: $act-height;
		border: 0;
		cursor: pointer;

		.many & {
			height: $act-height * .64;
			line-height: $act-height * .64;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid $candidate-border-color;
			border-bottom: 0;
			pointer-events: none;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			width: 2024px;
			width: 140vh;
			height: 2024px;
			height: 140vh;
			background-color: $yellow;
			top: 50%;
			left: 50%;
			pointer-events: none;
			@include transition-property(all);
			@include transition-duration(.52s);
			@include transition-timing-function(ease-out);
			@include border-radius(9999px);
			@include transform-origin(top, left);
			@include transform(scale(0) translateX(-50%) translateY(-50%));
			@include opacity(.2);
		}
	}

	.elect.selected,
	&.selected .elect {

		&::after {
			background-image: $vote-stamp;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&::before {
			@include transform(scale(1) translateX(-50%) translateY(-50%));
			@include opacity(.7);
		}
	}

	// 正反決圈選欄

	.choices {
		position: relative;
		z-index: 8;
		width: 100%;
		height: $act-height;
		border: 0;
		text-align: center;

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid $candidate-border-color;
			border-bottom: 0;
			pointer-events: none;
		}

		label {
			display: inline-block;
			z-index: 5;
			top: 0;
			left: 0;
			width: 20%;
			height: $act-height;
			cursor: pointer;

			&.agree input:checked + .agree svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					fill: $green;
				}
			}

			&.none input:checked + .none svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					fill: $yellow;
				}
			}

			&.disagree input:checked + .disagree svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					fill: $red;
				}
			}
		}

		input {
			@include opacity(0);
		}

		input ~ * {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			text-align: center;

			svg {
				width: $act-height - 18px;
				height: $act-height;
				margin-left: auto;
				margin-right: auto;
				overflow: visible;

				&, * {
					@include transition-property(all);
					@include transition-duration(.2s);
				}

				.icon {
					fill: transparent;
					stroke: lighten($base-dark-color, 10%);
					stroke-width: 20px;
				}

				.background {
					fill: transparent;
				}
			}
		}

		input ~ *::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;
			width: 2024px;
			width: 140vh;
			height: 2024px;
			height: 140vh;
			pointer-events: none;
			@include transition-property(all);
			@include transition-duration(.52s);
			@include transition-timing-function(ease-out);
			@include border-radius(9999px);
			@include transform-origin(top, left);
			@include transform(scale(0) translateX(-50%) translateY(-50%));
			@include opacity(.1);
		}

		input:checked ~ *::before {
			@include transform(scale(1) translateX(-50%) translateY(-50%));
			@include opacity(.3);
		}

		input.agree ~ *::before {
			content: '';
			background-color: $green;
		}

		input.disagree ~ *::before {
			background-color: $red;
		}

		input.none ~ *::before {
			content: none;
		}
	}
}
