// *************************************
//
//   Candidate
//   -> 候選人欄
//
// *************************************

.candidate {
	position: relative;
	width: 300px;
	text-align: center;
	overflow: hidden;
	color: $candidate-color;
	font-size: $base-font-size;

	$id-height: 50px;
	$act-height: 64px;
	$name-height: 68px;
	$border-width: 1px;

	padding-right: 1px;
	padding-right: 1px;

	border: $border-width solid $candidate-border-color;
	border-right: 0;
	&:last-child { border-right: $border-width solid $candidate-border-color; }

	&.big {
		width: 500px;
	}

	> *,
	> * > * {
		position: relative;
		z-index: 10;
	}

	// 所有欄位基本佈局

	> * {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		border: $border-width solid $candidate-border-color;
		border-bottom: 0;
		border-right: 0;
		border-left: 0;
		@include transition-delay(0);
	}

	> *:first-child {
		border-top: 0;
	}

	// 編號欄位

	.id {
		height: $id-height;
		line-height: $id-height;
		font-size: 1.2em;
	}

	// 相片欄位

	.pic {
		height: calc(80vh - #{$id-height} - #{$act-height} - #{$name-height} - 60px);
		min-height: 100px;
		max-height: 400px;

		.img {
			position: absolute;
			top: 4px;
			bottom: 4px;
			right: 4px;
			left: 4px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.img:first-child {
			right: 50%;
			left: 4px;
			border-right: 1px solid rgba($candidate-border-color, .1);
		}

		.img:last-child {
			right: 4px;
			left: 50%;
		}

		.img:only-child {
			right: 4px;
			left: 4px;
			border-right: 0;
		}
	}

	// 姓名欄

	.name {
		position: relative;
		height: $name-height;
		font-size: 1.7em;
		font-weight: 800;
		line-height: $name-height;
		overflow: hidden;
		@include text-shadow(0 0 10px rgba(255,255,255, .9));

		.many & {
			height: $name-height * .8;
			line-height: $name-height * .8;
		}

		> *::before {
			position: absolute;
			top: -5px;
			left: -5px;
			width: 40px;
			height: 40px;
			font-size: 28px;
			font-weight: 400;
			line-height: 40px;
			border-radius: 9999px;
			border: 1px solid $candidate-border-color;
			color: $candidate-border-color;
			opacity: .32;
		}

		> *:first-child {
			position: absolute;
			right: 50%;
			left: 0;
			// border-right: 1px solid rgba(0,0,0, .1);

			&::before {
				content: '正';
			}
		}

		> *:last-child {
			position: absolute;
			right: 0;
			left: 50%;

			&::before {
				content: '副';
			}
		}
	}

	// 普通圈選欄

	.elect {
		z-index: 8;
		height: $act-height;
		cursor: pointer;

		border: 0;

		.many & {
			height: $act-height * .64;
			line-height: $act-height * .64;
		}

		&::after {
			content: '圈選';
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-bottom: 0;
			pointer-events: none;
			font-size: 10px;
			line-height: $act-height;
			color: rgba(0,0,0, .3);

			border: $border-width solid $candidate-border-color;
			border-bottom: 0;
			border-right: 0;
			border-left: 0;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;
			width: 2024px;
			width: 140vh;
			height: 2024px;
			height: 140vh;
			background-color: $yellow;
			pointer-events: none;
			@include transition-property(all);
			@include transition-duration(.52s);
			@include transition-timing-function(ease-out);
			@include border-radius(9999px);
			@include transform-origin(top, left);
			@include transform(scale(0) translateX(-50%) translateY(-50%));
			@include opacity(.1);
		}
	}

	.elect.selected,
	&.selected .elect {

		&::after {
			content: '';
			background-image: $vote-stamp;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&::before {
			@include transform(scale(1) translateX(-50%) translateY(-50%));
			@include opacity(.5);
		}
	}

	// 正反決圈選欄

	.choices {
		position: relative;
		z-index: 8;
		width: 100%;
		height: $act-height;
		border: 0;
		text-align: center;

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid $candidate-border-color;
			border-bottom: 0;
			pointer-events: none;
		}

		label {
			display: inline-block;
			z-index: 5;
			top: 0;
			left: 0;
			width: 20%;
			height: $act-height;
			cursor: pointer;

			> * {
				pointer-events: none;
			}

			&.agree input:checked + .agree svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					stroke-width: 0px;
					fill: $green;
				}
			}

			&.none input:checked + .none svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					stroke-width: 0px;
					fill: $yellow;
				}
			}

			&.disagree input:checked + .disagree svg {

				.icon {
					stroke: transparent;
					fill: $base-light-color;
				}

				.background {
					stroke-width: 0px;
					fill: $red;
				}
			}
		}

		input {
			@include opacity(0);
		}

		input ~ * {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			text-align: center;

			svg {
				width: $act-height - 18px;
				height: $act-height;
				margin-left: auto;
				margin-right: auto;
				overflow: visible;

				&, * {
					@include transition-property(all);
					@include transition-duration(.2s);
				}

				.icon {
					fill: transparent;
					stroke: lighten($base-dark-color, 10%);
					stroke-width: 20px;
				}

				.background {
					fill: transparent;
					stroke: rgba(0,0,0, .3);
					stroke-width: 18px;
					stroke-alignment: outer;
				}
			}
		}

		input ~ *::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;
			width: 2024px;
			width: 140vh;
			height: 2024px;
			height: 140vh;
			pointer-events: none;
			@include transition-property(all);
			@include transition-duration(.52s);
			@include transition-timing-function(ease-out);
			@include border-radius(9999px);
			@include transform-origin(top, left);
			@include transform(scale(0) translateX(-50%) translateY(-50%));
			@include opacity(.1);
		}

		input:checked ~ *::before {
			@include transform(scale(1) translateX(-50%) translateY(-50%));
			@include opacity(.3);
		}

		input.agree ~ *::before {
			content: '';
			background-color: $green;
		}

		input.disagree ~ *::before {
			background-color: $red;
		}

		input.none ~ *::before {
			content: none;
		}

		input.agree ~ *::after {
			content: '贊成';
		}

		input.disagree ~ *::after {
			content: '反對';
		}

		input.none ~ *::after {
			content: '沒意見';
		}

		input ~ *::after {
			position: absolute;
			top: -4px;
			right: 0;
			left: 0;
			font-size: 10px;
			line-height: 10px;
			color: rgba(0,0,0, .3);
		}
	}

	// 選票中僅有一位候選人

	&:only-child {
		margin: -16px;
		margin-bottom: -20px;
		width: 334px;
		border-radius: 2px;
		overflow: hidden;
		padding: 16px;
		padding-left: 0;
		padding-right: 0;

		border: 0;

		> * {
			width: 100%;
			border: none;
		}

		> *::after {
			border: none;
		}

		.id {
			width: 64%;
		}

		.pic {

			.img {
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: rgba($candidate-color, .28);
				border: 1px solid #aaa;
				border-left: 0;
				border-right: 0;

				&:first-child {
					right: 50%;
					left: 0;
					border-right: 1px solid rgba($candidate-border-color, .1);
				}

				&:last-child {
					right: 0;
					left: 50%;
				}

				&:only-child {
					right: 0;
					left: 0;
					border-right: 0;
				}
			}
		}
	}
}
