// *************************************
//
//   NTU Voting
//   -> Main Manifest
//
// *************************************

@import 'compass';

// -------------------------------------
//   Settings
// -------------------------------------

$base-dark-color: #111;
$base-light-color: #fff;
$red: #ff2d55;
$green: #4cd964;
$blue: #34aadc;
$yellow: #ffdb4c;
$grey: #8e8e93;
$base-background-color: #44515f;
$candidate-border-color: #888;

// -------------------------------------
//   Core
// -------------------------------------

// ----- Helpers ----- //

@import "core/helpers";

// ----- Mixins ----- //

@import "core/mixins/button";

// ----- Fonts ----- //

@import "core/fonts";

// ----- Images ----- //

@import "core/images";

// ----- Animations ----- //

@import "core/animations";

// ----- Base ----- //

@import "core/base";

// -------------------------------------
//   Layouts
// -------------------------------------

@import "layouts/default";
@import "layouts/done";

// -------------------------------------
//   Structures
// -------------------------------------

@import "structures/default_header";
@import "structures/default_main";
@import "structures/candidates";

// -------------------------------------
//   Components
// -------------------------------------

@import "components/vote";
@import "components/candidate";
