// *************************************
//
//   NTU Voting
//   -> Main Manifest
//
// *************************************

@import 'compass';

// -------------------------------------
//   Settings
// -------------------------------------

$base-font-size: 18px;
$base-dark-color: #111;
$base-light-color: hsl(32, 1%, 100%);
$paper: $base-light-color;
$red: hsl(349, 100%, 59%);
$green: hsl(130, 65%, 57%);
$blue: hsl(198, 71%, 53%);
$yellow: hsl(48, 100%, 65%);
$grey: hsl(240, 2%, 57%);
$base-background-color: hsl(211, 17%, 32%);
$candidate-border-color: hsl(7, 80%, 32%);
$candidate-color: hsl(249, 7%, 19%);

// -------------------------------------
//   Core
// -------------------------------------

// ----- Helpers ----- //

@import "core/helpers";

// ----- Mixins ----- //

@import "core/mixins/button";

// ----- Fonts ----- //

@import "core/fonts";

// ----- Images ----- //

@import "core/images";

// ----- Animations ----- //

@import "core/animations";

// ----- Base ----- //

@import "core/base";

// -------------------------------------
//   Layouts
// -------------------------------------

@import "layouts/default";
@import "layouts/done";
@import "layouts/ui_index";

// -------------------------------------
//   Structures
// -------------------------------------

@import "structures/default_header";
@import "structures/default_main";
@import "structures/candidates";

// -------------------------------------
//   Components
// -------------------------------------

@import "components/vote";
@import "components/candidate";
