// *************************************
//
//   Animations
//   -> @keyframes
//
// *************************************

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {

	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInDown {

	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@include keyframes(scrollHint) {

	0% {
		@include transform(
			translateX(0)
			scale(1.6)
		);
		opacity: 0;
	}

	20% {
		@include transform(
			translateX(0)
			scale(1)
		);
		opacity: 1;
	}

	80% {
		@include transform(
			translateX(-180px)
			scale(1)
		);
		opacity: 1;
	}

	100% {
		@include transform(
			translateX(-180px)
			scale(1.6)
		);
		opacity: 0;
	}
}
