// *************************************
//
//   Helpers
//
// *************************************

// ----- Foreground Color ----- //

@function foreground-color($color) {
	@return contrast-color($color, $base-dark-color, $base-light-color, 60%);
}

// ----- user-select: none; ----- //

@mixin not-selectable() {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

@mixin selectable() {
	-webkit-user-select: auto;
	   -moz-user-select: auto;
	    -ms-user-select: auto;
	     -o-user-select: auto;
	        user-select: auto;
}
