// *************************************
//
//   Layout
//   -> 版面排版
//
// *************************************

$main-padding-lr: 12px;

body {
	height: 100%;

	> form {
		height: 100%;
	}
}

.header {
	height: 20%;
	height: 20vh;
	width: 100%;
}

.main {
	margin-top: -20%;
	margin-top: -20vh;
	height: 100%;
	height: 100vh;
	padding-top: 20%;
	padding-top: 20vh;
	padding-left: $main-padding-lr;
	padding-right: $main-padding-lr;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;

	-webkit-overflow-scrolling: touch;

	> * {
		display: inline-block;
		pointer-events: auto;
		-webkit-overflow-scrolling: auto;
	}

	&::after {
		content: '';
		position: fixed;
		z-index: 1001;
		width: 100vw;
		height: 100vh;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		@include background(
			radial-gradient(0 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%),
			radial-gradient(100% 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%)
		);
		background: -webkit-radial-gradient(0 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%), -webkit-radial-gradient(100% 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%);
		background-position: left center, right center;
		@include background-size(
			18px 100%,
			18px 100%
		);
		background-repeat: no-repeat;
	}

	&.mini::after {
		content: none;
	}

	$main-ba-overlay: 34px;
	$main-ba-overflow: 1000px;

	$ba-width: ($main-ba-overlay + $main-ba-overflow);

	.main-before {
		position: relative;
		z-index: 1002;
		height: 1px;
		overflow: visible;
		bottom: 0;

		.after {
			content: '';
			position: absolute;
			bottom: -64px;
			width: $main-ba-overlay + $main-ba-overflow;
			// margin-right: -$main-ba-overlay;
			margin-bottom: -200vh;
			height: 10240px;
			left: - $main-padding-lr - $main-ba-overflow;
			pointer-events: none;
			@include background(
				linear-gradient(left,
					rgba($base-backgroundColor, 1) percentage(($main-ba-overflow + $main-ba-overlay * 0) / $ba-width),
					rgba($base-backgroundColor, 1) percentage(($main-ba-overflow + $main-ba-overlay * .25) / $ba-width),
					rgba($base-backgroundColor, 0) 100%)
			);
			background-position: left center;
		}
	}

	.main-after {
		position: relative;
		z-index: 1002;
		height: 1px;
		overflow: visible;
		bottom: 0;

		.after {
			content: '';
			position: absolute;
			bottom: -64px;
			width: $main-ba-overlay;
			// margin-right: -$main-ba-overlay;
			margin-bottom: -200vh;
			height: 10240px;
			right: - $main-padding-lr;
			pointer-events: none;
			@include background(
				linear-gradient(right,
					rgba($base-backgroundColor, 1) 0,
					rgba($base-backgroundColor, 1) 25%,
					rgba($base-backgroundColor, 0) 100%)
			);
			background-position: right center;
		}
	}
}

.submitted {
	.candidate {
		top: -99999px;
	}
}
