// *************************************
//
//   Candidates Structure
//   -> 候選人們排版結構
//
// *************************************

// -------------------------------------
//   預設選票排版
// -------------------------------------

.votes,
.candidates {

	.candidate {
		margin-left: 0;
		margin-right: 0;

		&:first-child {
			margin-left: 2px;
		}

		&:last-child {
			margin-right: 2px;
		}
	}

	// 若一張選票中只有一格候選人

	.candidate:only-child {
		margin: -16px;
		margin-bottom: -20px;
		width: 334px;
		border-radius: 2px;
		overflow: hidden;
	}
}

// -------------------------------------
//   超多位候選人的密集排版
// -------------------------------------

.votes.many {
	text-align: left;

	.selection {
		width: 200px;
	}

	.lb {
		display: block;
	}
}
