// *************************************
//
//   Default Header Structure
//   -> 票選介面的頭部
//
// *************************************


.header {
	display: table;
    width: 100%;

	> * {
		display: table-cell;
		height: 100%;
		padding: 0 36px;
	    vertical-align: middle;
	}

	.title {
		width: 100%;
		text-align: left;
		text-overflow: ellipsis;

		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		        animation-fill-mode: both;
		-webkit-animation-name: fadeIn;
		        animation-name: fadeIn;

		h1, h2 {
			margin: 0;
			color: foreground-color($base-background-color);
			text-overflow: ellipsis;
		}

		h2 {
			@include opacity(.9);
			font-size: 14px;
		}
	}

	.actions {
		white-space: nowrap;

		-webkit-animation-delay: 1.5s;
		        animation-delay: 1.5s;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		        animation-fill-mode: both;
		-webkit-animation-name: fadeInDown;
		        animation-name: fadeInDown;

		body.sending & {
			display: none;
		}

		> * {
			margin: 8px 4px;
		}

		.button {
			@include button($blue);

			&.skip {
				@include button($grey);
			}
		}

		.notice {
			@include opacity(.8);
			position: absolute;
			top: 50%;
			right: 36px;
			padding-top: 18px;
			color: foreground-color($base-background-color);
			font-size: 18px;
		}
	}
}
