// *************************************
//
//   Main Voting Structure
//   -> 選票呈現結構
//
// *************************************

// -------------------------------------
//   選票橫向捲動區與可捲動提示陰影
// -------------------------------------

.main {
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;

	pointer-events: auto;
	-webkit-overflow-scrolling: touch;

	> * {
		display: inline-block;
		pointer-events: auto;
		-webkit-overflow-scrolling: auto;
	}

	&::after {
		content: '';
		position: fixed;
		z-index: 1001;
		top: 0;
		left: 0;
		width: 100vw;
		width: 100%;
		height: 100vh;
		height: 100%;
		pointer-events: none;

		@include background(
			radial-gradient(0 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%),
			radial-gradient(100% 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%)
		);
		background: -webkit-radial-gradient(0 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%), -webkit-radial-gradient(100% 50%, rgba(0,0,0, .64) 0%, rgba(0,0,0, 0) 60%);
		background-position: left center, right center;
		@include background-size(
			18px 100%,
			18px 100%
		);
		background-repeat: no-repeat;
	}

	&.mini::after {
		content: none;
	}

	$main-ba-overlay: 34px;
	$main-ba-overflow: 1000px;

	$ba-width: ($main-ba-overlay + $main-ba-overflow);

	.main-before,
	.main-after {
		position: relative;
		z-index: 1002;
		bottom: 0;
		height: 1px;
		overflow: visible;

		.after {
			content: '';
			position: absolute;
			bottom: -64px;
			height: 10240px;
			margin-bottom: -200vh;
			pointer-events: none;
		}
	}

	.main-before {

		.after {
			left: - $main-padding - $main-ba-overflow;
			width: $main-ba-overlay + $main-ba-overflow;
			@include background(
				linear-gradient(left,
					rgba($base-background-color, 1) percentage(($main-ba-overflow + $main-ba-overlay * 0) / $ba-width),
					rgba($base-background-color, 1) percentage(($main-ba-overflow + $main-ba-overlay * .25) / $ba-width),
					rgba($base-background-color, 0) 100%)
			);
			background-position: left center;
		}
	}

	.main-after {

		.after {
			right: - $main-padding;
			width: $main-ba-overlay;
			@include background(
				linear-gradient(right,
					rgba($base-background-color, 1) 0,
					rgba($base-background-color, 1) 25%,
					rgba($base-background-color, 0) 100%)
			);
			background-position: right center;
		}
	}
}

// -------------------------------------
//   選票排列
// -------------------------------------

.main .vote {
	margin: 24px 8px;
	margin-top: 2px;

	&:only-child, &:first-of-type { margin-left: 18px; }
	&:only-child, &:last-of-type { margin-right: 18px; }
}

